#nav-top {
    z-index: 999;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 5px 0; 
    position: fixed;
    top: 0;
    background-color: #dcdcdc;
    border-bottom: 1px solid #fff;
    color: #676767;
    }

body{
    margin: 0;
    padding: 0;
}


div.right{
    float: right;
}

.dropbutton {
  position: relative;
  display: inline-block;
  color: #676767;
}

.sub-button {
   display: table-row; 
}

.sub-button p{
    display: table-cell;
    
}

.sub-content {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbutton a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #676767;


}

.dropbutton a:visited{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #676767;

}

.dropbutton:hover a {color: #068dd9;}

.sub-content a:hover {background-color: #ddd;}
.dropdown-content a:hover {background-color: #ddd;}
.sub-button:hover p {color: #068dd9; }
.sub-button:hover .right {color: #068dd9; }

.dropbutton:hover .dropdown-content {display: table;}

#geometria:hover .sub-content{display: table-cell;}
#stereometria:hover .sub-content{display: table-cell;}



#logo{

    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 70px;
    margin-left: 20px;
    padding: 0;
    text-shadow: 3px 2px #068dd9; 
    font-size: 4vw;
    color: #676767;
    
}


img{
 float: left;
}

main{
    display: block;
    background: #f6f6f6;
    padding: 30px 20px 20px 20px;
    border: solid #e4e4e4 1px;
}

article{
    display: block;
    background: #ffffff;
    border: solid #e4e4e4 1px;
    clear: both;
    margin: 0 auto;
    min-height: 300px;
    text-shadow: 0 1px 0 #fff;
    padding-left: 2em; 
    padding-right: 2em;


    
}

footer{
    display: block;
    background: #f6f6f6;
    padding: 30px;
    text-align: center;
}
